@media screen and (max-width:1599px){

    		
}


@media screen and (max-width:1439px){
    
	
}

@media screen and (max-width:1365px){

    .fusion-body .smallContainer .fusion-builder-row.fusion-row,
    .smallContainer .fusion-row{
        max-width:1170px!important;
    }

}


@media screen and (max-width:1279px){

    .section{
        padding-top:50px!important;
        padding-bottom:50px!important;
    }
   
    .fusion-body .smallContainer .fusion-builder-row.fusion-row,
    .smallContainer .fusion-row{
        max-width:950px!important;
    }

    .fusion-body .portfolios .snglCate .fusion-title .title-heading-center{
        font-size:22px!important;
        padding:8px 0;
    }

    .FilterMenu{
        position: relative;
        background:var(--white);
        border:2px solid var(--primary-color);
        border-radius:4px;
        max-width:calc(100% - 30px)!important;
        margin:auto;
    }
    .FilterMenu::after{
        position: absolute;
        content:'';
        width:100%;
        height:100%;
        background:var(--primary-color);
        border-radius:4px;
        transform: translate(4px , 3px);
        border:2px solid var(--primary-color);
        z-index: -1;
    }

    .FilterMenu .fusion-column-wrapper{
        margin:0!important;
    }

    /* #singlPortfolios.section{
        padding-top:0!important;
    } */

    .FilterMenu .fusion-menu{
        max-width: calc(100% - 30px) !important;
        left: 50% !important;
        transform: translateX(-50%);
        max-height:none!important;
    }
    .FilterMenu .fusion-menu li.menu-item{
        border:none;
        border-bottom:2px solid var(--primary-color)!important;        
    }

    .FilterMenu .fusion-menu li.menu-item a{
        line-height: normal;
        min-height:auto;
        padding:15px!important;
        font-weight:bold;
        justify-content: center!important;
    }

    .fusion-header .fusion-main-menu > ul > li > a, 
    .fusion-header-wrapper.fusion-is-sticky .fusion-header .fusion-main-menu > ul > li > a{
        font-size:20px;
    }
    .fusion-header .fusion-main-menu > ul > li{
        padding-left:15px!important;
        padding-right:15px!important;
    }
    
    .heroBanner .manCharacter .fusion-imageframe img{
        max-width: 400px;
        margin-top: 50px;
    }

    .portfolios.tooSmallContainer .fusion-row{
        padding-left:30px!important;
        padding-right:30px!important;
    }


    .internalBanner{
        min-height:50vh;
        position: relative;
        z-index: 99999;
    }

    .fusion-body .internalBanner .fusion-title h1.title-heading-center{
        font-size:65px!important;
        margin-bottom:0!important;
    }

    .internalBanner .fusion-menu-element-wrapper{
        max-width:480px;
        margin:auto;
        margin-top:15px;
        border:2px solid var(--primary-color);
        box-shadow:4px 4px 0px var(--primary-color);        
    }

    .internalBanner .fusion-menu-element-wrapper button.avada-menu-mobile-menu-trigger{
        width:100%;
        padding:15px;
        color:var(--primary-color);
        background:var(--secondary-color)
    }

    .internalBanner .fusion-menu-element-wrapper .fusion-menu{
        width:calc(100% + 4px)!important;
        left:50%!important;
        transform: translateX(-50%);
        border:2px solid var(--primary-color);
        z-index: 999999;
        box-shadow:4px 4px 0px var(--primary-color);        
    }
    .internalBanner .fusion-menu-element-wrapper .fusion-menu li.menu-item{
        border-width:2px!important;
        border-color:var(--primary-color)!important
    }

    .internalBanner .fusion-menu-element-wrapper .fusion-menu li.menu-item a{
        padding:8px 15px!important;
        line-height:normal;        
    }
}




@media screen and (max-width:1023px){


    .internalBanner{
        min-height:30vh;
    }


    .fusion-body .fusion-header-wrapper{
        position: fixed;
        left:0;
        top:0;
        z-index: 999;
        width:100%;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
        
    }

    .fusion-body .fusion-header-wrapper .fusion-header{
        
    }

    .fusion-body .fusion-header .fusion-logo img.fusion-mobile-logo{
        max-width:120px;
    }
    .fusion-body .fusion-header-wrapper .fusion-header{
        padding:20px
    }
    .fusion-body .fusion-header-wrapper .fusion-header .fusion-mobile-nav-holder{        
        border:2px solid var(--primary-color);
        font-family:var(--myriad);
        box-shadow:4px 3px 0px var(--primary-color)
    }

    button.fusion-mobile-selector{
        font-family:var(--myriad);
        font-size:20px;
        color:var(--primary-color);
        background:var(--secondary-color);
        border:none;
    }
    button.fusion-mobile-selector .fusion-selector-down{
        border-width:2px!important;
        border-color:var(--primary-color)!important;
        height:42px!important;
        line-height:42px!important
        
    }
    button.fusion-mobile-selector .fusion-selector-down::before{
        color:var(--primary-color)!important
    }

    .fusion-body .fusion-button.btn{
        font-size: 12px;
        padding: 12px 35px;
    }

    .fusion-body .fusion-header-wrapper .fusion-header .fusion-mobile-nav-holder > ul{
        background:var(--secondary-color);
        border:none;
    }
    .fusion-body .fusion-header-wrapper .fusion-header .fusion-mobile-nav-holder > ul > li.fusion-mobile-nav-item > a{
        background-color:transparent;
        border:none;
        border-top:2px solid var(--primary-color);
        text-align: center;        
        font-size:30px;
        height:auto;
        padding:10px 0;
        font-family:var(--show);
        color:#e7f0f4;
        -webkit-text-stroke: 1.5px var(--primary-color);
        --text-stroke: 1.5px var(--primary-color);
        text-shadow: 3px 3px 0px var(--primary-color);
    }

    .fusion-body .smallContainer .fusion-builder-row.fusion-row,
    .smallContainer .fusion-row{
        max-width:700px!important;
    }

    .mainHeader .fusion-social-networks{
        text-align: left;
    }

    #about .gap{
        display:none!important
    }

    .fusion-body #about .contentArea {
        width:100%!important
    }

    #footerArea.footerArea .gap{
        display:none!important;
    }
    .fusion-body #footerArea.footerArea #contactEmails{
        width:100%!important
    }
    .footerArea{
        margin-top:80px!important;
    }


    #contactPage.footerArea .gap{
        display:none;
    }
    .fusion-body #contactPage.footerArea #contactEmails{
        width:100%!important;
    }

    #about #rightSide{
        text-align: center;
        margin-top:35px!important;
    }
    #about #rightSide .secTitle .title-heading-left{
        text-align: center!important;
    }
    .footerArea{
        margin-top:20px!important
    }

    .contactForm{
        max-width:700px;
    }
    #main{
        margin-top:148px;
    }
    .heroBanner .manCharacter .fusion-imageframe img{
        margin-top:0;
    }

    .fusion-body .heroBanner .fusion-row .leftSide,
    .fusion-body .heroBanner .fusion-row .rightSide {
        width:100%!important;
        text-align: center;
    }

    .fusion-body .heroBanner .fusion-row{
        flex-direction: column-reverse;
    }

    .fusion-body .heroBanner .fusion-row .leftSide .fusion-imageframe{
        text-align: center;
    }
    .fusion-body .portfolios .snglCate .fusion-column-wrapper{
        margin:10px;
        box-shadow:5px 5px 0px var(--primary-color)
    }

    .fusion-body #contForm.contForm .contDetails,
    .fusion-body #contForm.contForm .getInTouch{
        width:100%!important;
    }

    .fusion-body #contForm.contForm .getInTouch{
        margin-top:45px;
    }

    .fusion-body #contForm.contForm .contDetails .fusion-title h2.title-heading-left,
    .fusion-body #contForm.contForm .getInTouch .fusion-title h2.title-heading-left{
        text-align: center;
        margin-bottom:10px!important
    }

    .contDetails .entryContent p{
        font-size:30px;
        text-align: center;
    }
    .contDetails .fusion-social-links .fusion-social-networks-wrapper a{
        font-size:20px!important
    }

    .contDetails .fusion-social-links{
        text-align: center;
        margin-top:10px;
    }

    .contDetails .entryContent p{
        margin-bottom:10px!important
    }
    .contactForm{
        padding:0;
    }

    .fusion-body #contForm.smallContainer  .fusion-builder-row.fusion-row{
        padding: 0!important;
    }
    .contactForm .submit input.wpcf7-form-control.fusion-button{
        margin-left:auto;
        margin-right:auto;
    }
    .contactForm .submit input.wpcf7-form-control.fusion-button{
        margin-bottom:0;
    }
    .contactForm .wpcf7-spinner{
        display:none;
    }
    .form-group input.wpcf7-form-control,
    .form-group textarea.wpcf7-form-control{
        border-width:4px;
        font-size:22px;
    }

    .form-group .label{
        line-height:normal;
    }

    .wpcf7-form textarea{
        height:100px!important;
    }

    .form-group input.wpcf7-form-control{
        height:50px;
    }
}

@media screen and (max-width:767px){

    h1{
        font-size:70px!important;
        text-shadow:4px 4px 0px var(--primary-color)
    }
    h2.fusion-responsive-typography-calculated{
        font-size:40px!important;
        text-shadow:3px 3px 0px var(--primary-color);
    }

    .fusion-body .smallContainer .fusion-builder-row.fusion-row,
    .smallContainer .fusion-row{
        max-width:700px!important;
        padding-left:30px!important;
        padding-right:30px!important;
    }


    .internalBanner{
        min-height:200px;
    }
 
    .rightSide.contactDetails .phoneNumber{
        float:right;
        margin-right:0;
        margin-top:0;
        margin-left:10px;
    }
    .mainHeader.section{
        padding-top:30px!important;
        padding-bottom:30px!important;
    }
    .mainHeader .logo img{
        max-height:40px;
    }

    .about .entryContent p:last-child{
        margin-bottom:0!important;
    }




    .fusion-body .heroBanner #manDetails .fusion-text h1{
        margin-top:0;
    }
    .fusion-body .portfolios .snglCate{
        max-width:50%;
    }
    .heroBanner .manDetails .fusion-text p{
        font-size:30px;
    }

    #getInTouch .row{
        margin:0;
        padding:0 15px;
    }
    
    

}

@media screen and (max-width:735px){
   /* #gift-card-banner.heroBanner .bannerImg{
        display:none;
    }
     .giftCard-steps{
        padding-top:50px!important;
    } */
    .fusion-body .giftFeatures .snglFeature{
        width:100%!important;
    }
    .fusion-body .giftFeatures .snglFeature .fusion-column-wrapper{
        margin-left:0!important;
        margin-right:0!important;
    }
    .fusion-body .giftFeatures .snglFeature .fusion-text{
        text-align: center;
    }
    .giftFeatures .fusion-imageframe{
        width:100%;
        text-align: center;
    }
    /* #gift-card-banner.heroBanner{
        min-height:350px!important;
    } */
    #gift-card-banner.heroBanner .bannerContent .fusion-text h3{
        padding-top:0!important
    }

    .heroArea .leftPattern .fusion-imageframe img,
    .heroArea .rightPattern .fusion-imageframe img{
        max-width:80px;
    }

    .fusion-body .mainHeader .leftSide,
    .fusion-body .mainHeader .rightSide{
        width:50%!important;
    }

    .fusion-body .fusion-button.btn {
        font-size: 11px;
        padding: 8px 20px;
    }

    .fusion-body .fusion-button.btn::after,
    .fusion-body .fusion-button.btn.btn-reverse::after{
        transform:translate(5px , -5px);
    }

    .fusion-body .mainHeader .middlePart{
        position: absolute;
        left:50%;
        transform:translate(-50%, -50%);
        top:50%;
    }
    .mainHeader .logo img {
        max-height: 30px;
      }


      .row{
          display:block;
      }
}

@media screen and (max-width:666px){
    .openPositon h2, .careenBanner .fusion-title .title-heading-left{
        font-size:35px!important;
    }
    .careerFeatures {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .aboutCareer{
        padding-bottom:0!important;
        padding-top:30px!important;
    }
    .aboutCareer .entryContent h3{
        font-size:25px
    }
    .fusion-body .careerFeatures.shortContainer .fusion-builder-row.fusion-row{
        padding-left:0;
        padding-right:0;
    }
    .careerFeatures .fusion-text p br{
        display:none;
    }

    .form-group input.wpcf7-form-control{
        height:55px;
    }

    

        .contactForm .wpcf7-spinner{
            display:none!important;
        }

}



@media screen and (max-width:639px){
	

    h2.fusion-responsive-typography-calculated{
        font-size:35px!important;
        text-shadow:3px 3px 0px var(--primary-color);
        -webkit-text-stroke: 1.5px var(--primary-color);
        --text-stroke: 1.5px var(--primary-color);
    }
    .section {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .post-content p {
        line-height: 1.2em;
        font-size: 25px;
        margin-bottom:30px!important
    }
    

    .FilterMenu{
        max-width: calc(100% - 10px) !important;
    }

    .fusion-body .reelVideo.section,
    .fusion-body .sheetPoster.section{
        padding:0!important
    }

    .fusion-body .reelVideo .fusion-row{
        padding:0!important
    }

    .fusion-body .reelVideo .fusion-layout-column,
    .fusion-body .sheetPoster .fusion-layout-column{
        margin-bottom:0;
    }

    .fusion-body .internalBanner .fusion-title h1.title-heading-center{
        font-size:45px!important
    }

    .internalBanner{
        padding-left:50px!important;
        padding-right:50px!important;
    }


    .internalBanner .fusion-menu-element-wrapper{
        max-width:calc(100% - 30px); 
    } 
    


}




@media screen and (max-width:479px){
	
    h1.fusion-responsive-typography-calculated{
        font-size:60px!important
    }
    .heroBanner .manDetails .fusion-text p{
        font-size:25px;
    }

    .heroBanner .manCharacter .fusion-imageframe img{
        max-height:350px;
        max-width:none;
        width:auto;
    }

    #aboutMe .fusion-text{
        padding:0 30px
    }
    .fusion-body .portfolios .snglCate .fusion-title .title-heading-center{
        font-size:18px!important;
    }

    .portfolios.tooSmallContainer .fusion-row{
        padding-left:20px!important;
        padding-right:20px!important;
    }

    .fusion-body .portfolios .snglCate .fusion-column-wrapper{
        border-width:2px;
        box-shadow:4px 4px 0px var(--primary-color)
    }

    .siteFooter h2.fusion-responsive-typography-calculated{
        font-size:35px!important;
        -webkit-text-stroke: 1px var(--primary-color);
        --text-stroke: 1px var(--primary-color);
        text-shadow: 3px 3px 0px var(--primary-color);
    }

}







@media screen and (max-width:413px){
   
   
}